.superInput {
    background-color: aquamarine;
}

.errorInput {
    width: 200px;
    padding: 0 15px;
    margin: 10px 0 15px;
    line-height: 40px;
    border-radius: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
}
